
					.footer_text {
						font-size: smaller;
						font-family: 'Roboto', sans-serif;
						text-align: center;
						margin-left: 10px;
						margin-right: 7px;
						color: #bab8b8;
					}		
				
					/* adding indentation */
    				p {
						margin-bottom: 1em;
						text-align: justify;
						font-size: 18px;
						font-family: 'Roboto', sans-serif;
						font-weight: 300; 
              		}
			  		
			  		p + p {
				  		text-indent: 1.5em;
				  		margin-top: 1em;
				  		margin-bottom: 1em; 
				  	}
				
				  	#main {
					  	display:block; 
					  	padding: 20px 0px 20px 0px; 
					  	width:700px; 
					  	margin:auto;
					  	
				  	}
				  	
				  	#title {
					  	display:inline-block; 
					  	float:right; 
					  	padding: 14px 0px 11px 0px;		  	
					}
					
					#book {
						display:block; 
						padding: 20px 0px 20px 0px; 
						width:700px; 
						margin:auto;					
					}
					
					.go-top {
						position: fixed;
						bottom: 2em;
						right: 2em;
						text-decoration: none;
						color: white;
						background-color: rgba(0,0,0,0.3);
						font-size:12px;
						padding:1em;
						display:none;
					}
					
					.go-top:hover {
						background-color: rgba(0,0,0,0.6);
						text-decoration: none;
						color: white;
					}
					
					.home-link {
						font-size:30px; 
						font-family:'Roboto', sans-serif; 
						font-weight:400; 
						color:#aaa; 
						text-decoration:none
					}
					
					.home-link:hover {
						text-decoration: none;
					}